In [1]:
import pandas as pd
from files import read_stock_files, write_transaction_file, read_transaction_file
from trade import evaluate_transactions

In [2]:
transactions = read_transaction_file('../test_small.txt')

In [3]:
stocks_df = read_stock_files('../Stocks')
stocks_df.drop(columns=['OpenInt'], inplace=True)
stocks_df.set_index(['Date', 'Name'], inplace=True)
stocks_df.sort_index(level='Date', ascending=True, inplace=True)

  0%|          | 0/7195 [00:00<?, ?it/s]

100%|██████████| 7195/7195 [01:00<00:00, 119.88it/s]

In [5]:
portfolio = evaluate_transactions(stocks_df, transactions)
print(portfolio.get_balance()) # 570.371,72741 
print(portfolio.get_evaluation(stocks_df, '2017-11-01'))

Transaction(day='1962-06-27', transaction_type='buy-low', stock='ge', count=2)
Open      4.590200e-01
High      4.669000e-01
Low       4.590200e-01
Close     4.669000e-01
Volume    2.122467e+06
Name: (1962-06-27 00:00:00, ge), dtype: float64
Transaction(day='1965-12-31', transaction_type='sell-high', stock='ge', count=2)
Open      9.903000e-01
High      9.984000e-01
Low       9.822000e-01
Close     9.822000e-01
Volume    2.444411e+06
Name: (1965-12-31 00:00:00, ge), dtype: float64
Transaction(day='1970-05-27', transaction_type='buy-low', stock='ge', count=4)
Open      5.074000e-01
High      5.313000e-01
Low       4.989200e-01
Close     5.233000e-01
Volume    6.546261e+06
Name: (1970-05-27 00:00:00, ge), dtype: float64
Transaction(day='1973-01-11', transaction_type='sell-high', stock='ge', count=4)
Open      1.223800e+00
High      1.264100e+00
Low       1.223800e+00
Close     1.223800e+00
Volume    5.729467e+06
Name: (1973-01-11 00:00:00, ge), dtype: float64
Transaction(day='1974-09-13', transaction_type='buy-low', stock='ge', count=10)
Open      5.154000e-01
High      5.233000e-01
Low       4.989200e-01
Close     4.989200e-01
Volume    4.399947e+06
Name: (1974-09-13 00:00:00, ge), dtype: float64
Transaction(day='1984-09-14', transaction_type='sell-high', stock='ge', count=10)
Open      1.972900e+00
High      1.980600e+00
Low       1.932300e+00
Close     1.948500e+00
Volume    2.716578e+07
Name: (1984-09-14 00:00:00, ge), dtype: float64
Transaction(day='1984-11-19', transaction_type='buy-low', stock='aapl', count=57)
Open      3.713800e-01
High      3.739400e-01
Low       3.496200e-01
Close     3.496200e-01
Volume    6.497484e+07
Name: (1984-11-19 00:00:00, aapl), dtype: float64
Transaction(day='1985-01-15', transaction_type='sell-high', stock='aapl', count=57)
Open      4.879100e-01
High      4.968500e-01
Low       4.789800e-01
Close     4.789800e-01
Volume    7.389553e+07
Name: (1985-01-15 00:00:00, aapl), dtype: float64
Transaction(day='1985-08-15', transaction_type='buy-low', stock='aapl', count=73)
Open      2.330500e-01
High      2.356400e-01
Low       2.305100e-01
Close     2.305100e-01
Volume    2.933582e+07
Name: (1985-08-15 00:00:00, aapl), dtype: float64
Transaction(day='1985-10-07', transaction_type='buy-low', stock='ge', count=6)
Open      1.892000e+00
High      1.916100e+00
Low       1.884000e+00
Close     1.892000e+00
Volume    1.628218e+07
Name: (1985-10-07 00:00:00, ge), dtype: float64
Transaction(day='1987-10-19', transaction_type='sell-open', stock='aapl', count=73)
Open      1.544300e+00
High      1.544300e+00
Low       1.137100e+00
Close     1.167900e+00
Volume    1.327483e+08
Name: (1987-10-19 00:00:00, aapl), dtype: float64
Transaction(day='1987-10-19', transaction_type='buy-low', stock='aapl', count=99)
Open      1.544300e+00
High      1.544300e+00
Low       1.137100e+00
Close     1.167900e+00
Volume    1.327483e+08
Name: (1987-10-19 00:00:00, aapl), dtype: float64
Transaction(day='1987-10-19', transaction_type='sell-high', stock='ge', count=6)
Open      2.801700e+00
High      3.333000e+00
Low       2.584200e+00
Close     2.793600e+00
Volume    1.081504e+08
Name: (1987-10-19 00:00:00, ge), dtype: float64
Transaction(day='1987-10-19', transaction_type='buy-close', stock='ge', count=7)
Open      2.801700e+00
High      3.333000e+00
Low       2.584200e+00
Close     2.793600e+00
Volume    1.081504e+08
Name: (1987-10-19 00:00:00, ge), dtype: float64
Transaction(day='1997-12-16', transaction_type='sell-high', stock='ge', count=7)
Open      2.027800e+01
High      2.043300e+01
Low       2.003000e+01
Close     2.011300e+01
Volume    1.922367e+07
Name: (1997-12-16 00:00:00, ge), dtype: float64
Transaction(day='1997-12-30', transaction_type='buy-low', stock='aapl', count=300)
Open      4.161800e-01
High      4.302900e-01
Low       4.085300e-01
Close     4.213400e-01
Volume    9.551946e+07
Name: (1997-12-30 00:00:00, aapl), dtype: float64
Transaction(day='1998-01-06', transaction_type='buy-low', stock='aapl', count=45)
Open      5.098000e-01
High      6.404000e-01
Low       4.725100e-01
Close     6.068000e-01
Volume    5.054682e+08
Name: (1998-01-06 00:00:00, aapl), dtype: float64
Transaction(day='1998-01-06', transaction_type='sell-high', stock='aapl', count=45)
Open      5.098000e-01
High      6.404000e-01
Low       4.725100e-01
Close     6.068000e-01
Volume    5.054682e+08
Name: (1998-01-06 00:00:00, aapl), dtype: float64
Transaction(day='2000-01-20', transaction_type='sell-high', stock='aapl', count=399)
Open      3.698400e+00
High      3.890600e+00
Low       3.634300e+00
Close     3.634300e+00
Volume    5.106719e+08
Name: (2000-01-20 00:00:00, aapl), dtype: float64
Transaction(day='2001-10-01', transaction_type='buy-low', stock='amzn', count=286)
Open            5.91
High            6.10
Low             5.51
Close           6.01
Volume    7994400.00
Name: (2001-10-01 00:00:00, amzn), dtype: float64
Transaction(day='2012-08-30', transaction_type='sell-high', stock='amzn', count=286)
Open          246.99
High          250.00
Low           245.25
Close         246.22
Volume    3647576.00
Name: (2012-08-30 00:00:00, amzn), dtype: float64
Transaction(day='2012-09-04', transaction_type='buy-low', stock='fb', count=3000)
Open            18.08
High            18.27
Low             17.55
Close           17.73
Volume    46470541.00
Name: (2012-09-04 00:00:00, fb), dtype: float64
Transaction(day='2015-08-24', transaction_type='buy-open', stock='fb', count=200)
Open            77.03
High            87.14
Low             72.00
Close           82.09
Volume    83710719.00
Name: (2015-08-24 00:00:00, fb), dtype: float64
Transaction(day='2015-08-24', transaction_type='buy-low', stock='ge', count=190)
Open      2.122300e+01
High      2.265500e+01
Low       1.799900e+01
Close     2.218000e+01
Volume    9.817172e+07
Name: (2015-08-24 00:00:00, ge), dtype: float64
Transaction(day='2015-08-24', transaction_type='sell-high', stock='fb', count=200)
Open            77.03
High            87.14
Low             72.00
Close           82.09
Volume    83710719.00
Name: (2015-08-24 00:00:00, fb), dtype: float64
Transaction(day='2015-08-24', transaction_type='sell-close', stock='ge', count=190)
Open      2.122300e+01
High      2.265500e+01
Low       1.799900e+01
Close     2.218000e+01
Volume    9.817172e+07
Name: (2015-08-24 00:00:00, ge), dtype: float64
Transaction(day='2017-11-01', transaction_type='sell-high', stock='fb', count=3000)
Open           182.36
High           182.90
Low            180.57
Close          182.66
Volume    40918341.00
Name: (2017-11-01 00:00:00, fb), dtype: float64
570371.72741
1472.65

In [6]:
stocks_df.loc['2017-11-10', :]

       Open    High      Low   Close   Volume
Name
a     67.35  67.580  66.7000  66.810  1704549
aa    42.93  44.460  42.7500  43.010  4463839
aaap  80.94  81.100  80.9400  80.980   322441
aaba  70.60  70.745  69.9400  70.560  4439900
aac   10.90  11.400  10.7350  11.280   143945
...     ...     ...      ...     ...      ...
zts   68.95  69.240  68.5800  69.130  1905724
zumz  18.25  18.950  18.2500  18.900   344504
zx     1.14   1.340   1.1200   1.239   148723
zyme   6.95   6.950   6.8700   6.870      616
zyne  11.68  13.150  11.3043  12.460   885587

[6764 rows x 5 columns]